body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

h1 {
    color: #333;
}

form {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #555;
}

.result, .images {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.images img {
    width: 200px;
    height: auto;
    margin: 10px;
}

.greenButton, .blueButton {
    padding: 10px 20px;
    margin: 5px;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 10px;
}

.greenButton:hover, .blueButton:hover {
    background: #0056b3;
}

.greenButton {
    background: #459880; /* Custom green color for upload button
}

.blueButton {
    background: #3b83f0; /* Custom blue color for save button
}


.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.cell {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}
.toggle-btn {
    background-color: gray;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.selected {
    background-color: #4ebb54;
}
.toggle-btn:hover {
    background-color: #45a049;
}
.submit-btn {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.submit-btn:hover {
    background-color: #0056b3;
}