body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}


h1 {
    color: #333;
}

form {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #555;
}

.images {
    display: flex; /* 启用 flexbox */
    flex-wrap: wrap; /* 允许多行显示 */
    justify-content: space-around; /* 在主轴上平均分布 */
    align-items: flex-start; /* 在交叉轴上对齐到顶部 */
}


.image-item {
    display: flex; /* 使图片和按钮垂直排列 */
    flex-direction: column; /* 垂直堆叠 */
    align-items: center; /* 中心对齐子元素 */
    margin: 10px; /* 添加一些外边距 */
}


.result, .images {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.images img {
    width: 200px;
    height: auto;
    margin: 10px;
}

.greenButton, .blueButton {
    padding: 10px 20px;
    margin: 5px;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 10px;
}

.greenButton:hover, .blueButton:hover {
    background: #0056b3;
}

.greenButton {
    background: #459880; 
}

.blueButton {
    background: #3b83f0; 
} 
